html, body, h1 {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.grid {
  width: 80%;
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

* {
  font-family: "Open sans";
}

html {
  scroll-behavior: smooth;
}

section#home {
  background: url("/img/home-bg.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
  display: block;
  position: relative;
}
section#home .overlay {
  background: linear-gradient(to right, #292E49, #536976);
  height: 100vh;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
section#home header {
  justify-content: space-between;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 15px 0;
}
section#home header a {
  grid-column: 1/3;
}
section#home header a h1 {
  font-weight: 500;
}
section#home header nav {
  grid-column: 3/10;
  align-items: center;
  align-self: center;
  justify-self: center;
}
section#home header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
section#home header nav ul li {
  padding: 8px 8px;
  font-size: 16px;
}
section#home header nav ul li a:hover {
  transition: all 0.4s ease;
  color: #29ca8e;
}
section#home header .hello-cta {
  grid-column: 10/13;
  align-self: center;
  justify-self: end;
}
section#home header .hello-cta a:hover {
  transition: all 0.4s ease;
  color: #29ca8e;
}
section#home .hero-text {
  position: absolute;
  top: 40%;
  margin: 0 25%;
  width: 50%;
  text-align: center;
  color: white;
}
section#home .hero-text h2 {
  font-weight: 300;
  font-size: 50px;
  margin: 10px 0 30px 0;
}
section#home .hero-text h3 {
  margin: 10px 0;
  font-weight: 0;
}
section#home .hero-text input {
  border-radius: 30px;
  padding: 20px;
  text-indent: 10px;
  width: 40%;
  outline: none;
  border: 0;
  line-height: 20px;
  margin: 0 auto;
  transform: translateX(30px);
}
section#home .hero-text button {
  border-radius: 30px;
  padding: 20px;
  background-color: #29ca8e;
  outline: 0;
  border: 1px solid #29ca8e;
  color: white;
  transform: translateX(-30px);
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
}
section#home .hero-text button:hover {
  transition: all 0.4s ease;
  cursor: pointer;
  background: white;
  color: #29ca8e;
}

section#features {
  background: #F9F9F9;
  padding: 5% 0;
}
section#features .tabs {
  grid-column: 1/7;
  flex-wrap: wrap;
  display: flex;
  align-self: center;
  transform: translateY(-10%);
}
section#features .tabs h2 {
  font-weight: 300;
  font-size: 50px;
  width: 100%;
  margin: 0 0 30px 0;
}
section#features .tabs input[type=radio] {
  display: none;
}
section#features .tabs input[type=radio]:checked + label {
  border-bottom: 3px solid #29ca8e;
  color: black;
}
section#features .tabs input[type=radio]:checked + label + .tab-content {
  display: block;
}
section#features .tabs label {
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;
  color: #999999;
  font-weight: 700;
  cursor: pointer;
}
section#features .tabs label.responsive {
  margin: 0 15px 0 0;
}
section#features .tabs label.mobile, section#features .tabs label.support {
  margin: 0 15px;
}
section#features .tabs label:hover {
  border-bottom: 3px solid #29ca8e;
  color: black;
  transition: all 1s ease;
}
section#features .tabs .tab-content {
  display: none;
  order: 1;
}
section#features .tabs .tab-content h4 {
  font-size: 28px;
  font-weight: 300;
  color: #353535;
  margin: 10px 0;
}
section#features .tabs .tab-content p {
  color: #757575;
}
section#features .feature-img {
  grid-column: 7/13;
  align-self: center;
}
section#features .feature-img img {
  width: 100%;
}

section#about {
  background: #F9F9F9;
  padding: 6% 0;
}
section#about h2 {
  grid-column: 1/13;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  width: 100%;
  margin: 0 0 100px 0;
}
section#about .about-item {
  grid-column: span 4;
  background: white;
}
section#about .about-item img {
  width: 100%;
}
section#about .about-item .team-description {
  padding: 20px;
  position: relative;
}
section#about .about-item .team-description h5 {
  font-weight: 300;
  font-size: 28px;
  margin: 0;
}
section#about .about-item .team-description h6 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
section#about .about-item .team-description p {
  line-height: 1.8em;
  color: #757575;
  font-size: 14px;
  margin: 0;
}
section#about .about-item .team-description::after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 15px solid white;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  left: 0;
  margin: 0 auto;
  right: 0;
  top: -20px;
  display: block;
}
section#about .about-item .team-description-reverse {
  padding: 20px;
  position: relative;
}
section#about .about-item .team-description-reverse h5 {
  font-weight: 300;
  font-size: 28px;
  margin: 0;
}
section#about .about-item .team-description-reverse h6 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
section#about .about-item .team-description-reverse p {
  line-height: 1.8em;
  color: #757575;
  font-size: 14px;
  margin: 0;
}
section#about .about-item .team-description-reverse::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid white;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  left: 0;
  margin: 0 auto;
  right: 0;
  bottom: -15px;
  display: block;
}

section#testimonials {
  padding: 10% 0;
  color: white;
}
section#testimonials .testimonials-img {
  grid-column: 1/7;
}
section#testimonials .testimonials-img img {
  width: 100%;
}
section#testimonials .testimonial-box {
  background: #202020;
  grid-column: 7/13;
  padding: 40px;
}
section#testimonials .testimonial-box h2 {
  font-weight: 300;
  font-size: 40px;
  width: 100%;
  margin: 0;
}
section#testimonials .testimonial-box p {
  width: 100%;
  font-weight: 200;
  font-size: 20px;
  font-style: italic;
  line-height: 1.7em;
  color: #d9d9d9;
}
section#testimonials .testimonial-box span {
  color: #d9d9d9;
  font-weight: 300;
  font-size: 18px;
  display: inline-block;
  transform: translateY(-30%);
}
section#testimonials .testimonial-box span::before {
  content: "";
  display: inline-block;
  background: url(/img/tst-image2.jpg) no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
  margin-right: 15px;
  transform: translateY(45%);
}

section#pricing {
  background: #f9f9f9;
  padding: 5% 0;
}
section#pricing .grid {
  column-gap: 10px;
}
section#pricing h2 {
  grid-column: 1/13;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  width: 100%;
  margin: 0 0 100px 0;
}
section#pricing .pricing-item {
  grid-column: span 4;
  background: white;
  padding: 50px;
}
section#pricing .pricing-item h5 {
  color: #353535;
  font-size: 28px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 10px;
}
section#pricing .pricing-item ul {
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
  border-bottom: 2px solid #f0f0f0;
  border-top: 2px solid #f0f0f0;
}
section#pricing .pricing-item ul li {
  color: #757575;
  margin: 10px 0;
}
section#pricing .pricing-item .details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
section#pricing .pricing-item .details span {
  font-size: 20px;
  align-self: center;
}
section#pricing .pricing-item .details a.btn-register {
  border: 1px solid #29ca8e;
  background: #29ca8e;
  padding: 10px 20px;
  border-radius: 40px;
  box-sizing: border-box;
  align-self: center;
}
section#pricing .pricing-item .details a.btn-register:hover {
  transition: all 0.5s ease;
  color: #29ca8e;
  background: white;
}

section#contact {
  padding: 5% 0;
}
section#contact h2 {
  grid-column: 1/13;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  width: 100%;
  margin: 0 0 100px 0;
}
section#contact input {
  grid-column: span 4;
  display: inline-block;
  outline: none;
  border: none;
  padding-bottom: 10px;
  text-indent: 10px;
  border-bottom: 3px solid #f0f0f0;
  margin-right: 10px;
  align-self: end;
}
section#contact button {
  grid-column: span 4;
  background: #202020;
  color: white;
  outline: 0;
  border: 0;
  padding: 15px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 14px;
}
section#contact button:hover {
  transition: all 0.5s ease;
  background: #29ca8e;
}
section#contact textarea {
  grid-column: 1/13;
  margin-top: 20px;
  padding: 15px;
  border: 0;
  outline: 0;
  border-bottom: 3px solid #f0f0f0;
  padding-bottom: 10px;
}

footer {
  padding: 5% 0;
  background: #202020;
}
footer p {
  grid-column: 1/8;
  font-size: 14px;
  color: white;
}
footer ul {
  grid-column: 8/13;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: end;
}
footer ul li {
  align-self: center;
}
footer ul li a {
  margin-left: 15px;
}
footer ul li a:hover {
  color: #29ca8e;
  transition: all 0.5s ease;
}