// Reset

html, body, h1 {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
a {
    text-decoration: none;
    color: #fff;
}

// Variables

$primary: #29ca8e;
$secondary: #202020;
$black: black;
$white: white;

// Grid Layout

.grid {
    width: 80%;
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

// Font

* {
    font-family: 'Open sans';
}

// Styling

html {
    scroll-behavior: smooth;
}

section#home {
    background: url('/img/home-bg.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;
    display: block;
    position: relative;
    .overlay {
        background: linear-gradient(to right, #292E49, #536976);
        height: 100vh;
        opacity: 0.9;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    header {
        justify-content: space-between;
        background: $black;
        color: $white;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        a {
            grid-column: 1/3;
            h1 {
                font-weight: 500;
                padding: 20px 0;
            }
        }
        nav{
            grid-column: 3/9;
            align-items: center;
            align-self: center;
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: flex;
                align-items: center;
                li {
                    padding: 10px 10px;
                    font-size: 16px;
                    :hover {
                        color: $primary;
                    }
                }
            }
        }
        .hello-cta {
            grid-column: 9/12;
        }
    }
    .hero-text {
        position: absolute;
        top: 40%;
        margin: 0 25%;
        width: 50%;
        text-align: center;
        color: $white;
        h2 {
            font-weight: 300;
            font-size: 50px;
            margin: 10px 0 30px 0;
        }
        h3 {
            margin: 10px 0;
            font-weight: 00;
        }
    }
}
